<button class="btn btn-success" routerLink="/ajout-articles">Ajouter</button>
<table *ngIf="listArticles" datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>Reference</th>
      <th>Designation</th>
      <th>Prix</th>
      <th>Marque</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let art of listArticles">
      <td> {{art.reference}} </td>
      <td> {{art.designation}} </td>
      <td> {{art.prixVente}} </td>
      <td> {{art.marque}} </td>
      <td> <img src="../../../assets/{{art.imageartpetitf}}" width="60px" height="60px" alt=""> </td>
      <td>
        <button routerLink="/edit-articles" class="btn btn-success mb-2">Modifier</button>
        <button class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    
  </tbody>
</table>
