<div class="container">
    <h3 class="text-center">Liste Des Articles</h3>
    <div>
      <button class="btn btn-success" [routerLink]="'/ajout-categorie'">Ajouter</button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Reference</th>
            <th scope="col">designation</th>
            <th scope="col">Prix Achat</th>
            <th scope="col">Prix Vente</th>
            <th scope="col">Prix Solde</th>
            <th scope="col">Marque</th>
            <th scope="col">Caracteristiques</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of listArticles">
            <td> {{a.reference}} </td>
            <td> {{a.designation}} </td>
            <td> {{a.prixAchat}} </td>
            <td> {{a.prixVente}} </td>
            <td> {{a.prixSolde}} </td>
            <td> {{a.marque}} </td>
            <td> {{a.caracteristiques}} </td>
            <td>
                <a [routerLink]="['/edit-categories/', a._id]" class="btn btn-primary m-1">Modifier</a>
                <a class="btn btn-danger m-1">Supprimer</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<router-outlet></router-outlet>