
<div class="container">
    <h3 class="text-center">Liste Des Sous Categories</h3>
    <div>
      <button class="btn btn-success" [routerLink]="'/ajout-scategorie'">Ajouter</button>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nom Scategorie</th>
            <th scope="col">Image Scategorie</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of listScategories">
            
            <td> {{c.nomscategorie}} </td>
            <td> <img src="../../../assets/{{c.imagescat}}" alt=""> </td>
            <td>
                <a [routerLink]="['/edit-scategories/', c._id]" class="btn btn-primary m-1">Modifier</a>
                <a href="" class="btn btn-danger m-1" (click)="DeleteScategorie(c._id)">Supprimer</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>

<router-outlet></router-outlet>